---
import PostCard from 'components/PostCard.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
import type { Frontmatter } from 'lib/types'

export const title = 'Blog - Emmanuel Chucks'
export const description =
  "Blog page for my personal portfolio website. Posts about web and mobile development, design, and other things I've been thinking about lately."

const allPosts = await Astro.glob<Frontmatter>('/src/posts/**/*.mdx')
---

<BaseLayout title={title} description={description}>
  <div class="space-y-8 px-4">
    <h1 class="text-3xl font-bold">All posts</h1>
    <ul class="space-y-4">
      {allPosts.map((post) => <PostCard post={post} />)}
    </ul>
  </div>
</BaseLayout>
