---
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout>
  <Fragment slot="site:head">
    <title>Blog - Emmanuel Chucks</title>
    <meta
      name="description"
      content="Blog page for my personal portfolio website. Posts about web and mobile development, design, and other things I've been thinking about lately."
    />
  </Fragment>

  <h1 class="text-2xl font-bold">All posts</h1>
</SiteLayout>
