---
import SiteLayout from '../layouts/SiteLayout.astro'
---

<SiteLayout>
  <Fragment slot="site:head">
    <title>Emmanuel Chucks - Full-Stack Engineer and UI/UX Designer</title>
    <meta
      name="description"
      content="Personal portfolio website for Emmanuel Chucks, an ambitious software engineer with a passion for UI/UX design."
    />
  </Fragment>

  <main>
    <article>
      <h1>Hello, I'm Emmanuel Chucks</h1>
      <p>Full-Stack Engineer & UI/UX Designer</p>
      <p>
        A passionate developer living in the crazy city of <a
          href="https://en.wikipedia.org/wiki/Accra">Accra, Ghana</a
        >.
      </p>
      <p>
        I enjoy building things that solve problems and spark joy. I'm currently
        working on a social platform to help connect event planners and
        celebrants.
      </p>
      <p>
        Sometimes I play the piano to help me relax and meditate. I love reading
        about design and development to stay up to date with the latest
        technologies.
      </p>
      <p>
        I am available for contract and remote work. Email <a
          href="mailto:me@emmanuelchucks.com">me@emmanuelchucks.com</a
        >
      </p>
      <img src="" alt="Emmanuel and his wife in native Ghanaian attire" />
    </article>

    <aside>
      <h2>Tools I enjoy using</h2>
      <ul>
        <li>React</li>
        <li>Flutter</li>
        <li>SwiftUI</li>
        <li>AWS</li>
        <li>Firebase</li>
        <li>Figma</li>
      </ul>
    </aside>

    <section>
      <h2>Projects</h2>
      <p>
        Here are some of my professional work. If you want to see more of my
        hobby projects, <a href="https://github.com/emmanuelchucks"
          >see my GitHub</a
        >
      </p>
      <div class="bg-gray-50 aspect-video"></div>
    </section>

    <section>
      <h2>Recent posts</h2>
      <p>Code, design, and other things I've been thinking about lately.</p>
    </section>
  </main>
</SiteLayout>
