---
import type { MarkdownInstance } from 'astro'
import PostCard from 'components/PostCard.astro'
import BaseLayout from 'layouts/BaseLayout.astro'
import type { Frontmatter } from 'lib/types'

interface Props {
  posts: Array<MarkdownInstance<Frontmatter>>
}

export async function getStaticPaths() {
  const allPosts = await Astro.glob<Frontmatter>('../*.mdx')
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ]

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout
  title={`${tag} - Emmanuel Chucks`}
  description={`All the posts from my blog that are tagged with '${tag}'`}
>
  <div class="space-y-8 px-4">
    <h1 class="text-3xl font-bold">Posts tagged with '{tag}'</h1>
    <ul>
      {posts.map((post) => <PostCard post={post} />)}
    </ul>
  </div>
</BaseLayout>
