---
import { SiGithub, SiLinkedin, SiTwitter } from 'solid-icons/si'

const currentPath = Astro.url.pathname
const socials = [
  ['GitHub', 'https://github.com/emmanuelchucks', SiGithub],
  ['Twitter', 'https://twitter.com/emmanuelchucks', SiTwitter],
  ['LinkedIn', 'https://linkedin.com/in/emmanuelchucks', SiLinkedin],
] as const
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <slot name="site:head" />
  </head>
  <body class="flex min-h-[100dvh] flex-col">
    <header class="flex items-baseline gap-x-2 p-4 text-xl">
      <a
        href="/"
        aria-current={currentPath === '/' && 'page'}
        class="bg-black px-4 py-2 text-3xl font-semibold text-white">e.</a
      >
      <span>/</span>
      <nav>
        <ul>
          <li>
            <a href="/blog/" aria-current={currentPath === '/blog/' && 'page'}
              >blog</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main class="mb-16 mt-8 flex-1 space-y-16 px-4">
      <slot />
    </main>

    <footer class="space-y-8 bg-gray-50 py-8 px-4 text-center">
      <section>
        <h2 class="sr-only">Connect with me</h2>
        <ul class="mt-1 inline-flex flex-wrap gap-x-7 font-medium">
          {
            socials.map(([social, url, Icon]) => (
              <li>
                <a href={url} class="flex items-center gap-x-2">
                  <Icon /> {social}
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="text-sm">
        <p>Made in Accra, Ghana 🇬🇭</p>
        <small>&copy; 2022. MIT Licence</small>
      </div>
    </footer>
  </body>
</html>
