<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="site:head" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Home</li>
          <li>Projects</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>Made in Accra, Ghana 🇬🇭</p>
      <small>&copy; 2022. MIT Licence</small>
    </footer>
  </body>
</html>
