<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <slot name="site:head" />
  </head>
  <body>
    <header>
      <p>e.</p>
      <nav>
        <ul>
          <li>Blog</li>
        </ul>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <section>
        <h2>Connect with me</h2>
        <ul>
          <li>GitHub</li>
          <li>Twitter</li>
          <li>YouTube</li>
        </ul>
      </section>

      <p>Made in Accra, Ghana 🇬🇭</p>
      <small>&copy; 2022. MIT Licence</small>
    </footer>
  </body>
</html>
