---
import Icon from '../components/Icon.astro'
const socials = [
  ['GitHub', 'https://github.com/emmanuelchucks'],
  ['Twitter', 'https://twitter.com/emmanuelchucks'],
  ['LinkedIn', 'https://linkedin.com/in/emmanuelchucks'],
] as const
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <slot name="site:head" />
  </head>
  <body>
    <header class="flex items-baseline gap-x-2 p-4 text-xl">
      <a
        href="/"
        aria-current="page"
        class="px-4 py-2 bg-black text-white font-semibold text-3xl">e.</a
      >
      <span>/</span>
      <nav>
        <ul>
          <li><a href="/blog">blog</a></li>
        </ul>
      </nav>
    </header>

    <main class="px-4 space-y-16 mb-16 mt-8">
      <slot />
    </main>

    <footer class="text-center py-8 px-4 bg-gray-50 space-y-8">
      <section>
        <h2 class="sr-only">Connect with me</h2>
        <ul class="inline-flex flex-wrap gap-x-7 mt-1 font-medium">
          {
            socials.map(([social, url]) => (
              <li>
                <a href={url} class="flex items-center gap-x-2">
                  <Icon name={social} /> {social}
                </a>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="text-sm">
        <p>Made in Accra, Ghana 🇬🇭</p>
        <small>&copy; 2022. MIT Licence</small>
      </div>
    </footer>
  </body>
</html>
